matrix:
    homeserver: "https://homeserver.tld"
    password: "bot_password"
    user_id: "@dialogflow_bot:homeserver.tld"
    owner_id: "@owner:homeserver.tld"

dialogflow:
    project: "dialogflow_agent_name"
